@charset "utf-8";
/* CSS Document */

header { display:none; }
.login { display:none; }

.navbar-brand { font-family:'Titillium Web', sans-serif; font-size:30px; color:#F4F4F4; }
.logo-text { color:#A9BCF5; }
.navbar { border:0; border-bottom:1px solid #D8D8D8; border-radius:0; }
.navbar-right { margin-top:10px; }
.navbar-right li { float:left; }
.navbar-right li a { font-size:12px; margin-left:-10px; }

.flexslider { margin-top:-20px; }


footer { margin-top:30px; padding:20px; background:#02214f; }
.ft_logo { 
	font-family:'Titillium Web', sans-serif; font-size:30px; color:#E4E4E4; text-align:center;
	text-transform:capitalize; text-shadow:0 0 15px #000;
}
address.ft_info { width:100%; margin-top:15px; font-size:12px; color:#F4F4F4; text-align:center; }
.sns { font-size:34px; text-align:center; }
.sns span { margin-left:5px; }